.social-card {
    box-shadow: 0px 15px 35px rgba(183, 188, 218, 0.65);
    border-radius: 12px;
    height: 168px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    @media screen and (max-width:$md) {
        height: 50px;
        border-radius: 6px;
    }
    &:after {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        top: -10px;
        left: -10px;
        content:'';
        position: absolute;
        background-color: #dde4ff;
        z-index: -1;
        border-radius: 15px;
        opacity: 0;
        transition: 0.5s ease opacity;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
    img {
        @media screen and (max-width:$md) {
            max-width: 100%;
            max-height: 15px;
        }
    }
    &__logo {
        img {
            @media screen and (max-width:$md) {
                max-width: 100%;
            }
        }
    }
    &__content {
        & + & {
            margin-left: 19px;
            border-left:1px solid #6E81CB;
            padding-left: 42px;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;        
        color: #FFFFFF;
        position: relative;
        margin-bottom: 13px;
        display: inline-block;
        &:before {
            width: 39px;
            height: 39px;
            background: url('../images/svg/social-card-title-before.svg') 50% 50% no-repeat;
            content:'';
            position: absolute;
            top: 3px;
            left: -14px;
        }
        &:after {
            width: 15px;
            height: 15px;
            background: url('../images/svg/social-card-title-after.svg') 50% 50% no-repeat;
            content:'';
            position: absolute;
            top:11px;

        }
    }
    &__description {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* or 133% */
        
        
        color: #FFFFFF;
        
        opacity: 0.5;
    }
    &--discord {
        background: linear-gradient(270deg, #783DDA 0%, #7289DA 100%);
    }
    &--vk {
        background: linear-gradient(90deg, #4B77AA 0%, #2D49BA 0.01%, #6197D5 100%);
    }
    &--youtube {
        background: linear-gradient(90deg, #CA1D00 2.08%, #FF6247 100%);
    }
    &--wide {
        margin-top: 24px;
        background: url('../images/start-discord.jpg') 0% 50% no-repeat;
        background-size: cover;
        height: 165px;
        justify-content: flex-end;
        padding: 0px 58px;
        &:after {
            display: none;
        }
    }
}
