.about-program {
    background-color: #E8EAF8;
    padding-top: 126px;
    padding-bottom: 188px;
    @media screen and (max-width:$md) {
        padding-bottom: 90px;
        padding-top: 60px;
    }
    @media screen and (min-width:$md + 1) and (max-width:$lg) {
        padding-top: 80px;
        padding-bottom: 110px;
    } 
    @media screen and (min-width: $lg + 1) and (max-width: $xl) {
        padding-bottom: 120px;
    }
    .container {
        @media screen and (min-width: 1920px) {
            max-width: 1650px;
        }                         
    }
    .container-fluid {
        padding: 0px 135px;
        @media screen and (max-width:$md) {
            padding: 0px 15px;
        }
    }
    &__poster {
        @media screen and (max-width:$lg) {
            margin-bottom: 50px;
        }
        
        img {
            filter: drop-shadow(0px 35px 120px rgba(0, 0, 0, 0.25));
            max-width: 100%;
        }
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;          
        color: #000000;  
        margin-bottom: 127px;
        @media screen and (max-width:$md) {
            margin-bottom: 50px;
        }
        @media screen and (min-width:$md + 1) and (max-width:$lg) {
            margin-bottom: 60px; 
        } 
        @media screen and (min-width: $lg + 1) and (max-width: $xl) {
            margin-bottom: 70px;
        }

    }
    &__subtitle {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;  
        color: #000000;
        margin-bottom: 35px;     
        @media screen and (max-width:$md) {
            font-size: 18px;
            margin-bottom: 15px;
        } 
        @media screen and (min-width: $lg + 1) and (max-width: $xl) {
            font-size: 20px;
        }
    }
    &__content {
    }
    &__description {
        margin-bottom: 35px;
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 145%;           
            color: #36384A;
            margin-bottom: 0px;
            @media screen and (max-width:$md) {
                font-size: 14px;
            }
            @media screen and (min-width:$md + 1) and (max-width:$lg) {
                font-size: 15px; 
            } 
            @media screen and (min-width: $lg + 1) and (max-width: $xl) {
                font-size: 16px;
            }
            & + p {
                margin-top: 40px;
                @media screen and (max-width:$lg) {
                    margin-top: 20px;
                }
                @media screen and (min-width: $lg + 1) and (max-width: $xl) {
                    margin-top: 20px;
                }
            }
        }
    }
    &__action {
        .button {}
    }
}
