.page-information-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    a {
        text-decoration-line: underline;        
        color: #FFFFFF;
    }
}

.user-table-data {
    background-color: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 29px;
}